<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
              deployment {
                /guiActor {
                  dispatcher = akka.actor.synchronized-dispatcher # causes guiActor to run on the UI thread for WinForms
                }
              }
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>